<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='css/name4.css') }}">
</head>
<body>
    {% block content %}
    <div class="whole">
        <h1 style="align-content: center;">Classification of Malarial Cells</h1>
        <div class="faram">
            <form action="http://localhost:5000/" method="POST" enctype="multipart/form-data">
                Choose Image: <input type="file" name="image" id="image" value="browse">
                <br><br>
                Select Testing Model: 
                <select name="model">
                    <option value="cnn">Convolutional Neural Network</option>
                    <option value="rf">Random Forest</option>
                    <option value="svm">Support Vector Machine</option>
                    <option value="lr">Logistic Regression</option>
                    <option value="knn">K Nearest Neighbour</option>
                </select>
                <br><br>
                <input type="submit" value="Enter Image" name="submit" class="button">
            </form>
        </div>
        <br><br><br>
        <div class="MLpart">
            {% if status == True %}
                {% if used=='No' %}
                    <img src="{{ url_for('static', filename = filename) }}" width="200" height="150">
                    <h3><p>The given image is {{ inf }}. Confidence of the model is {{ confidence }} </p></h3>
                {% else %}
                    <img src="{{ url_for('static', filename = filename) }}" width="200" height="150">
                    <h3><p>The given image is {{ inf }} according to {{ used }} confidence: {{ prob }}</p></h3>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endblock %}
</body>
</html>