.whole {
    margin-top: 50px;
    text-align: center;
}
.faram {
    margin-top: 30px;
    display: inline-block;
}
.MLpart {
    margin-top: 30px;
    display: inline-block;
}
.button {
    background-color: gray;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }